h1 {
  color: #5179ba
}
p {
  fontstyle: italic;
  text-alighn: left;
}
body {
  background-color: lightgray;
}
#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: grey beige white grey;
}
